# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Libarary2.2.2/FileContentIndex
/.vs/Libarary2.6.2/CopilotIndices/17.13.444.19527
/Libarary2.2.2/SFML-2.6.2
/.vs/Libarary2.6.2
/Libarary2.2.2/x64
/x64
/Libarary2.2.2/Libarary2.2.2.vcxproj
/Libarary2.2.2/Libarary2.2.2.vcxproj.filters
/Libarary2.2.2/Libarary2.2.2.vcxproj.user
/Libarary2.6.2.sln
