# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Library Manage System/FileContentIndex
/Library Manage System/SFML-2.6.2
/Library Manage System/x64
/x64
/Library Manage System/Library Manage System.vcxproj
/Library Manage System/Library Manage System.vcxproj.filters
/Library Manage System/Library Manage System.vcxproj.user
/.vs/Library Manage System
/Library Manage System.sln
/Report.md
/.vscode
*.pdf
books.json
